<div id='profile'>
    <section id='profile-top'>
        <ul>
            <li>
                <%= image_tag @profile.user.avatar, id: 'profile-img'%>
            </li>
            <li style='text-align:center'>
                <strong><%= @profile.user.posts.count %></strong><br/>
                Posts
            </li>
            <li style='text-align:center'>
                <strong><%= @profile.followers.count %></strong><br/>
                Followers
            </li>
            <li style='text-align:center'>
                <strong><%= @profile.following.count %></strong><br/>
                Following
            </li>
        </ul>
        <section id='profile-name-caption'>
            <h6><strong><%= @profile.user.first_name %></strong></h6>
            <p><%= @profile.caption %></p>
        </section>
    </section>
    <section id='view-options'>
        <i onClick='gridHandle()' class="fas fa-th"></i>
        <i onClick='listHandle()' class="fas fa-bars"></i>
    </section>

    <section id='grid' style='display:contents'>
        <%= render 'shared/grid'%>
    </section>

     <section id='list' style='display:none'>
        <%= render 'shared/list'%>
    </section>