<div class='page-width'>
    <div class='form-row'>
    <%= form_tag search_path, style: 'display: flex', method: :get do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search for users"
        %>
        <%= submit_tag "Search", class: "btn btn-primary"%>
    <% end %>
    </div><br>
    <div>
        <% @profiles.each do |profile| %>
            <%= link_to profile_path(profile), id: 'user-search' do %>
                <%= image_tag profile.user.avatar, height: 40, width: 40, style: 'border-radius: 50%; margin-right: 8px', crop: :fill %>
                    <section>
                        <span style='font-weight: 900'><%= profile.user.username %></span>
                        <br>
                        <%= profile.user.first_name %> <%= profile.user.last_name %>
                    </section>
                    
            <% end %>
            <hr>
        <% end %>
    </div>
</div>